<!-- <p>signup works!</p> -->

<!-- reactive form driven form -->
<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <fieldset class="form-wrapper"  formGroupName="predefinedData">


        <h1 align="center"> Signup </h1>

        <div class="form-group">
            <label> Username: </label> <br/>
            <input name="username" type="text" formControlName="u_name" placeholder=" Enter Username" class="form-control">
            <div class="error" *ngIf="form.get('predefinedData.u_name')?.touched && form.get('predefinedData.u_name')?.hasError('required')"> please enter a valid username</div>
            <div class="error" *ngIf="form.get('predefinedData.u_name')?.touched && form.get('predefinedData.u_name')?.hasError('unallowedName')"> username not allowed</div>
        </div>

        <div class="form-group">
            <label> Email: </label> <br/>
            <input name="email" type="email" formControlName="u_email" class="form-control" placeholder=" Enter Email">
            <div class="error" *ngIf="form.get('predefinedData.u_email')?.touched && form.get('predefinedData.u_email')?.hasError('required')"> please enter an email adress</div>
            <div class="error" *ngIf="form.get('predefinedData.u_email')?.touched && form.get('predefinedData.u_email')?.hasError('email')"> please enter a valid email address</div>
        </div>


        <div class="form-group">
            <label> Password: </label> <br/>
            <input name="password" type="password" formControlName="u_password" class="form-control" placeholder=" Enter Password">
            <div class="error" *ngIf="form.get('predefinedData.u_password')?.touched && form.get('predefinedData.u_password')?.invalid"> please enter a valid password</div>
        </div>

        <div class="remember-forgot">
            <a href="#"> Forgot Password? </a>
        </div>


        <div align="center" class="form-group">
            <button [disabled]="form.invalid" class="btn" id="signup" > Signup </button>
        </div>

        <div class="signup-link">
            <p>
                Already have an account? <a [routerLink]="['../login']"> Login </a> instead
            </p>
        </div>


    </fieldset>


</form>

