/* popup styling */
.popup{
    width: 100%;
    display: flex;
    justify-content: center;
}

.popup label {
    margin: .3rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: large;
}
/********************/
/****FORM STYLING***/
/********************/

.form-wrapper{
	margin: 0px auto;
	width: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 50px;
    padding-top: 0px auto;
    padding-bottom: 0px auto;
    width: 600px;
    border: 2px solid rgba(255,255,255,.2);
    background-color: white;
    box-shadow: 15px 15px 15px 15px rgba(140,140,140,0.5);
    border-radius: 10px;
    line-height: 2.3rem;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(255, 255, 255, .2);
}

.form-group{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.form-wrapper h1{
    color: var(--royal-purple);
}

.form-group .form-control:focus{
    /* helps prevent overlap with error and succes outline */
    outline: 0;
}

.form-wrapper label {
    font-weight: 500;
    font-size: large;
}
.form-wrapper .form-control{
    padding: .4rem;
    border-radius: 17px;
    width: 100%;
    border: 1px solid black;
    font-size: medium;
    font-weight: 600;
}

.form-wrapper .remember-forgot{
	display:flex;
	justify-content: space-between;
	font-size:20px;
}

.remember-forgot a{
	text-decoration: none;
    color: var(--royal-purple);
}

.remember-forgot a:hover{
	text-decoration: underline;
}
.form-wrapper .btn{
	width: 100%;
	height:55px;
	border-radius: 40px;
	/* box-shadow: 0 0 10px; */
	font-weight: 600;
    background-color: var(--lighter-purple);
    border: .4px solid var(--lighter-purple);
    color: var(--white);
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;

}

.form-wrapper .signup-link{
	text-align: center;
}

.signup-link p a{
	text-decoration: none;
	font-weight: 700;
    color: var(--lighter-purple);
}

.signup-link p a:hover{
	text-decoration: underline;
}


/* display error messages in the DoM */
.form-control.ng-touched.ng-invalid{
    border: 1px solid red !important;
}

.error{
    color: red;
    font-size: x-small;
    font-weight: normal;
    justify-content: center;
    font-style: italic;
}

/* display the button diffrently if not valid */
/* .form-wrapper.ng-touched.ng-invalid{
    background-color: red !important;
} */