<!-- <p>testimonials works!</p> -->
         <!-- begin choosing outing div -->
         <div class="testimonials">
            <div class="top">
                <h3> what others have to say </h3>
                <h2> testimonials  </h2>
                <p> Bonfire Adventures Is an award-winning team that offers round
                    the clock support during your trip and 100% financial protection
                    so you know you are in safe hands. With us you can dream, book and
                    travel carefree.
                </p>
            </div>

            <div class="bottom">

                <div class="industry-bottom">
                    <div class="rating-placard placard-1">
                        <div>
                            <img src="../../assets/images/user1.png">
                        </div>
                        <div class="text">
                            Slate helps you see how <br/>
                            many more days you need <br/>
                            to work to reach your financial <br/>
                            goal for the month and year.
                        </div>
                        <div class="stars">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <!-- <ion-icon name="star-outline"></ion-icon> -->

                        </div>
                    </div>
                    <div class="rating-placard placard-1">
                        <div>
                            <img src="../../assets/images/user2.png">
                        </div>
                        <div class="text">
                            Slate helps you see how <br/>
                            many more days you need <br/>
                            to work to reach your financial <br/>
                            goal for the month and year.
                        </div>
                        <div class="stars">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                        </div>
                    </div>
                    <div class="rating-placard placard-1">
                        <div >
                            <img class="image" src="../../assets/user3.png">
                        </div>
                        <div class="text">
                            Slate helps you see how <br/>
                            many more days you need <br/>
                            to work to reach your financial <br/>
                            goal for the month and year.
                        </div>
                        <div class="stars">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                        </div>
                    </div>
                </div>


            </div>
            <!-- end bottom cards section -->

        </div>
        <!-- end choosing outing div -->

