/* -----begin testimonials section----- */
.testimonials{
    display: flex;
    flex-direction: column;
    margin-top: .9rem;

    /* border: 1px solid; */
}

.testimonials .top{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials .top h3{
    font-size: small;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--royal-purple);
}
.testimonials .top h2{
    letter-spacing: .1rem;
    text-transform: capitalize ;
    font-weight: 300;
    font-size: 1.7rem;
}

.testimonials .top p{
    /* color: red; */
    font-size: small;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .1rem;
    /* border: 1px solid; */
    width: 90%;
    line-height: 1.5rem;
    font-weight: 300;
    font-stretch: expanded;
    padding: .4rem;
}
.testimonials .bottom{
    display: flex;
    /* border: 1px solid; */
    padding: .9rem;
    gap: .9rem;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials .card{
    display: flex;
    flex-direction: column;
    padding: .4rem;
    gap: .4rem;
    height: 17rem;
    width: 17rem;
    border: 1px solid;
}
.testimonials .hotel-card .img{
    width: 55%;
    overflow: hidden;
    border: 1px solid;
}
.industry-bottom{
	border: 1 px solid;
	display: flex;
	justify-content: center;
	column-gap: 3rem;
	justify-content: center;
}

.industry-bottom .rating-placard{
	border: 1px solid var(--royal-purple);
	border-radius: 10px;
	padding: .5rem;
	width: 15rem;
}

.industry-bottom .rating-placard img{
	/*	HOW TO I CENTER THIS IMAGE WITHIN THE DIV?!?! */
	border: 1px solid var(--light-gray);
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	justify-content: center;
    display: flex;
}

.industry-bottom .rating-placard .text{
	color: var(--light-gray);
    /* text-align: center; */
}

.industry-bottom .rating-placard .stars{
	width: fit-content;
	margin: 0px auto;
}

.industry-bottom .rating-placard .bx-star {
	color: var(--bright-yellow);
	fill: var(--bright-yellow);
}
/* .image{
    background-image: url('../../assets/user3.png');
} */
/* -----end testimonials section----- */
