<!-- <p>admin works!</p> -->
<div *ngIf="role === 'admin'" class="admin-user">
    <h1> Admin Dashboard </h1>   <input type="text" [(ngModel)]="searchThis" placeholder="Search">
    <!-- {{searchThis}} -->

   <div *ngIf="users" class="container" >

      <div *ngFor="let user of users | searchUser:searchThis" class="users">
      <!-- user image url -->
      <div class="left" id="{{user.id}}">
         <img src="https://i.pinimg.com/236x/7a/a4/66/7aa466056aad44cd22cec1ab9ab6699f.jpg" alt="avatar">
         <!-- <img src="{{user.imageUrl}}" alt="avatar"> -->
      </div>
   
      <!-- main content -->
       <div class="right">
         <!-- top -->
          <div class="content">
            <p id="id" > ID: {{user.id}} </p>
            <p>
               <label> Name: </label><label id="name"> {{user.u_name}} </label>
            </p>
            <p>
               <label> Email: </label><label id="email"> {{user.u_email}}</label>
            </p>
            <p>
               <label> Bookings Made: </label><label id="bookings"> {{user.totalBookings}}</label>
            </p>
          </div>
         <!-- botton with buttons -->
          <div class="buttons">
            <button (click)="updatePopup()"> Update </button>
            <button> Delete </button>
          </div>
       </div>


   </div>


</div>


<!-- POPUP TO APPEAR WHEN UPDATE IS CLICKED!! -->
<div  class="popup" id="popup-1">
   <div class="overlay"></div>
      <div class="content">
         <div class="close-btn" (click)="updatePopup()">&times;</div>
         <h1> Update Form </h1>
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
               <div>
                  <label> Name: </label>
                  <input type="text" formArrayName="u_name">
               </div>
               <div>
                  <label> Email: </label>
                  <input type="email" formArrayName="u_email">
               </div>
               <div>
                  <label> Password: </label>
                  <input type="text" formArrayName="u_password">
               </div>

               <div class="buttons">
                  <button > Submit </button>
               </div>

            </form>
      </div>
 </div>
 
 <!-- <button (click)="togglePopup()">Show Popup</button> -->


<!-- 
 <div class="left">
   <h2> Add Users </h2>
   <form (ngSubmit)="submitUser()" [formGroup]="userForm">
      <fieldset>
         <div>
            <label> Name: </label>
            <input formControlName="u_name" type="text">
         </div>

         <div>
            <label> Email: </label>
            <input formControlName="u_email" type="text">
         </div>

         <div>
            <label> Password: </label>
            <input formControlName="u_password" type="text">
         </div>

         <button> Add User </button>
      </fieldset>

   </form>
</div>

 -->
