.admin-user{
    padding: .4rem;
}

.container{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    /* height: 90vh; */
    overflow-y: scroll;     /*  LEARN HOW TO PUT SCROLL BAR LIKE IN THE TWITTER CLONE*/
}

/* users div styling */
.users{
    display: flex;
    width: 70vw;
    /* height: 8rem; */
    border: 1px solid;
    border-radius: 15px;
    margin: 0px auto;
    gap: 1rem;
    padding: .4rem;
}

.users .left{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    padding: .4rem;
    margin: 1rem;
    overflow: hidden;
    /* border-radius: 10px; */
}
.left image{
    width: 100%;
    height: 100%;
}
.users .right{
    width: 75%;
    padding: .4rem;
    display: inline-flex;
    flex-direction: column;
    /* overflow-y: scroll; */
}

.right .content #id{
    font-size: x-small;
    display: block;
    text-align: right;
}

.right .content #name{
    font-size: large;
    font-weight: 700;
}
.right .content #email{
    font-style: italic;
}
.right .content #bookings{
    font-family: 'Courier New', Courier, monospace;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

button{
    padding: .1rem;
    width: 25%;
}



/* --------popup---- */
.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }
  
  /* style the update popup */
  .popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:500px;
    height:250px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
  }
  
  .popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }
  
  .popup.active .overlay {
    display:block;
  }
  
  .popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }
  
 