<p>categories-product works!</p>

<!-- template driven forms -->
<!-- <form (ngSubmit)="onSubmit(form)" #form> -->
<!-- <form (ngSubmit)="onSubmit(form)" #form="ngForm"> -->
<form (ngSubmit)="onSubmit()" #form="ngForm">

    <fieldset class="form-wrapper">


        <h1 align="center"> Product-Categories </h1>

        <div class="form-group">
            <label> Product: </label> <br/>
            <input name="username" type="text"  ngModel class="form-control" placeholder=" Enter product name">
            <div class="error"></div>
        </div>

        <div class="form-group">
            <label> Category: </label> <br/>
            <select name="category" ngModel >
                <option value="" selected disabled> Choose your category </option>
                <option *ngFor="let category of categories" value="{{category}}"> {{category}}</option>
            </select>
            <div class="error"></div>
        </div>

        <div class="form-group">
            <label > Price Range: </label>
            <span *ngFor="let price of prices"> <br/>
                <input name="price-range" type="radio"  ngModel class="form-control"  value="{{price}}">{{price}}
            </span>
            <div class="error"></div>
        </div>


        <div class="form-group">
            <label> Password: </label> <br/>
            <input name="password" type="password"  ngModel class="form-control" placeholder=" Enter Password">
            <div class="error"></div>
        </div>

        <div align="center" class="form-group">
            <button class="btn btn-primary" id="signup"> Add Product </button>
        </div>



    </fieldset>


</form>
