form{
    line-height: 1.5rem;
}

input{
    border-radius: 10px;
    border: 1px solid black;
}
input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid{
    border: 1px solid red;
}

.error{
    color: red;
    font-size: smaller;
    font-style: italic;
}