<p>register works!</p>

<!-- reactive form driven form -->
<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <fieldset class="form-wrapper"  formGroupName="predefinedData">


        <h1 align="center"> Signup </h1>

        <div class="form-group">
            <label> Username: </label> <br/>
            <input name="username" type="text" formControlName="username" placeholder=" Enter Username">
            <!-- <div class="error" *ngIf="form.get('username')?.touched && form.get('username')?.invalid"> please enter a valid username</div> -->
            <!-- nesting changes for predefined values -->
            <div class="error" *ngIf="form.get('predefinedData.username')?.touched && form.get('predefinedData.username')?.hasError('required')"> please enter a valid username</div>
            <div class="error" *ngIf="form.get('predefinedData.username')?.touched && form.get('predefinedData.username')?.hasError('unallowedName')"> username not allowed</div>
        </div>

        <div class="form-group">
            <label> Email: </label> <br/>
            <input name="email" type="email" formControlName="email" class="form-control" placeholder=" Enter Email">
            <!-- <div class="error" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')"> please enter an email adress</div>
            <div class="error" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')"> please enter a valid email address</div> -->
            <!-- nesting changes for predefines values -->
            <div class="error" *ngIf="form.get('predefinedData.email')?.touched && form.get('predefinedData.email')?.hasError('required')"> please enter an email adress</div>
            <div class="error" *ngIf="form.get('predefinedData.email')?.touched && form.get('predefinedData.email')?.hasError('email')"> please enter a valid email address</div>
        </div>


        <div class="form-group">
            <label> Password: </label> <br/>
            <input name="password" type="password" formControlName="password" class="form-control" placeholder=" Enter Password">
            <!-- <div class="error" *ngIf="form.get('password')?.touched && form.get('password')?.invalid"> please enter a valid password</div> -->
            <!-- nesting changes for predefined values -->
            <div class="error" *ngIf="form.get('predefinedData.password')?.touched && form.get('predefinedData.password')?.invalid"> please enter a valid password</div>
        </div>

        <div class="form-group">
            <label> Confirm Password: </label> <br/>
            <input name="confirm_password" type="password" formControlName="confirm_password" class="form-control" placeholder=" Confirm Password">
            <!-- <div class="error" *ngIf="form.get('confirm_password')?.touched && form.get('confirm_password')?.invalid"> please confirm your password</div> -->
            <!-- nesting changes for predefined values -->
            <div class="error" *ngIf="form.get('predefinedData.confirm_password')?.touched && form.get('predefinedData.confirm_password')?.invalid"> please confirm your password</div>
        </div>

        <div class="remember-forgot">
            <a href="#"> Forgot Password? </a>
        </div>


        <div align="center" class="form-group">
            <button class="btn btn-primary" (click)="prepopulate()"> Prepopulate </button>
            <button class="btn btn-primary" id="signup" [disabled]="form.invalid"> Signup </button>
        </div>

        <div class="signup-link">
            <p>
                Already have an account? <a href="./login.html"> Login </a> instead
            </p>
        </div>


    </fieldset>

    <!-- main use of reactive forms! unexpected user inputs -->
    <div class="form-group" formArrayName="skills">
        <label> Skills: </label> <br/>
        <button (click)="addControll()"> Add skills</button>
        <div *ngFor="let controll of getControll(); let i=index">
            <input name="skills" type="text" formControlName="{{i}}">
            <button (click)="delete(i)">x</button>
        </div>
    </div>


</form>



    



