<!-- <p>homepage works!</p> -->

    <!-- main-content div -->
    <div class="main-content">
        <div class="sidebar-panel">

                <!-- topmost logo part -->
                <div class="top">
                    <i class='bx bxl-twitter bx-md' ></i> <label> Welcome </label>
                </div>
                   
                <!-- list of menu panel -->
                <div class="menu">
        
                    <ul>
        
                        <li>
                            <a href="#">
                                <i class='bx bx-home-alt-2'></i>
                                <span class="nav-item">Home </span>
                            </a>
                        </li>
        
                        <li>
                            <a href="#">
                                <i class='bx bx-search'></i>
                                <span class="nav-item">Explore </span>
                            </a>
                        </li>
        
                        <li>
                            <a href="#">
                                <i class='bx bx-bell'></i>
                                <span class="nav-item">Notifications </span>
                            </a>
                        </li>
        
                        <li>
                            <a href="#">
                                <i class='bx bx-chat'></i>
                                <span class="nav-item">Messages </span>
                            </a>
                        </li>
        
                        <li>
                            <a href="#">
                                <i class='bx bx-user'></i>
                                <span class="nav-item">Profile </span>
                            </a>
                        </li>
        
        
                        <li>
                            <a href="#">
                                <i class='bx bx-message-rounded-dots'></i>
                                <span class="nav-item">More </span>
                            </a>
                        </li>
        
                        <li>
                            <a href="#">
                                <i class='bx bx-log-out-circle'></i>
                                <span class="nav-item"> Logout </span>
                            </a>
                        </li>
        
                    </ul>
        
                </div>
            
        </div>
        
        <!-- tweets-panel -->
        <div class="tweets-panel">

            <h2> Tweets</h2>

            <div class="tweet-card">
                <div class="top">
                    <img src="" alt="avatar">
                    <label> Name </label>
                    <label> &#64;Username </label>
                    <label> Current Date </label>
                    <i class='bx bx-dots-horizontal-rounded'></i>
                </div>

                <div class="middle">
                    <p>
                        In the brightest day, in the darkest night, no evil shall escape my sight
                        let all those who worship evils might, beware of my power, the green lanterns light!
                    </p>
                </div>

                <div class="bottom">
                    <div>
                        <i class='bx bx-chat'></i>
                        <label> 100</label>
                    </div>
                    <div>
                        <i class='bx bx-collapse-alt'></i>
                        <label> 100</label>
                    </div>
                    <div>
                        <i class='bx bx-heart'></i>
                        <label> 100</label>
                    </div>
                    <div>
                        <i class='bx bx-bookmark-alt' ></i>
                        <label> 100</label>
                    </div>
                    <div>
                        <i class='bx bx-upload' ></i>
                        <label> 100</label>
                    </div>
                </div>
            </div>



        </div>

                
        <!-- comments div -->
        <div class="comments-panel">

            <h2> Comments </h2>

            <!-- comments 1 -->
            <div class="comment-card">
                <div class="top">
                    <img src="" alt="avatar">
                    <label> Name </label>
                    <label> &#64;Username </label>
                    <label> Current Date </label>
                    <i class='bx bx-dots-horizontal-rounded'></i>
                </div>

                <div class="middle">
                    <p>
                        In the brightest day, in the darkest night, no evil shall escape my sight
                        let all those who worship evils might, beware of my power, the green lanterns light!
                    </p>
                </div>
                
                <div class="bottom">
                    <div>
                        <i class='bx bx-chat'></i>
                        <label> 100</label>
                    </div>
                    <div>
                        <i class='bx bx-collapse-alt'></i>
                        <label> 100</label>
                    </div>
                    <div>
                        <i class='bx bx-heart'></i>
                        <label> 100</label>
                    </div>
                    <div>
                        <i class='bx bx-bookmark-alt' ></i>
                        <label> 100</label>
                    </div>
                    <div>
                        <i class='bx bx-upload' ></i>
                        <label> 100</label>
                    </div>
                </div>

            </div>
        </div><!--end of comments-panel div-->

    </div><!-- end of main content div-->

