<!-- <p>homepage works!</p> -->

        <!-- begin main-body hero div -->
        <div class="main-content">

            <section class="hero">
                <div class="title">
                    <h1> tembea africa travel & tours </h1>
                </div>

                <div class="content">
                    <p>
                        Providing quality services at unbeatable prices
                    </p>
                </div>
            </section>

        </div>
        <!-- end main-content hero div -->

        <!-- begin cards div section -->
        <div class="cards-section">

            <div class="card">
                <div class="top">
                    <i class='bx bx-phone bx-lg'></i>
                    <label> get in touch </label>
                </div>
                <div class="bottom">
                    <p>We are reliable immigration consultants to handle your immigration case.</p>
                </div>
            </div>

            <div class="card">
                <div class="top">
                    <i class='bx bx-wallet bx-lg'></i>
                    <label> book vacation </label>
                </div>
                <div class="bottom">
                    <p>To process your visa application with our experienced registered agents.</p>
                </div>
            </div>

            <div class="card">
                <div class="top">
                    <i class='bx bx-trip bx-lg'></i>
                    <label> leave the rest to us </label>
                </div>
                <div class="bottom">
                    <p>We are reliable immigration consultants to handle your immigration case.</p>
                </div>
            </div>

        </div>
        <!-- end cards div section -->

        <!-- begin self-intro div -->
        <div class="introduction">

            <div class="intro-left">
                <h3> who we are </h3>
                <h2> Tembea africa travel & tours </h2>
            </div>

            <div class="intro-right">
                <p>
                    American Travel & Tours Agency is the gateway to one of the worlds best
                    kept secrets, established Since 1993. American Travel and Tours Moto is to
                    “Provide lasting memories thru the gateway of Travel.” At American Travel
                    and Tours, Customer Satisfaction is imperative. With over four decades of
                    experience in the travel business, American Travel and Tours is one of the
                    oldest and most established travel companies in the country.
                </p>

                <label>
                    Read More  <i class='bx bx-right-arrow-alt'></i>
                </label>
            </div>

        </div>
