:root{
	--almost-white: hsl(0, 0%, 98%);
	--medium-gray: hsl(0, 0%, 41%);
	--almost-black: hsl(0, 0%, 8%);
}

*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.container{
	width:100vw;
	height:100vh;
	padding: 1rem 1rem;
}

.nav{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 5vw;
	margin-bottom: 1rem;
	padding: 10px;
	align-items: center;
}

.nav-left{
	align-items: center;
	width: 60vw;
	display: flex;
	flex-direction: row;
	column-gap: 3rem;
}

.menu li{
	display:inline-flex;
	list-style: none;
	text-decoration: none;
	margin-right: 2rem;
}

.menu li a{
	text-decoration: none;
	color: var(--medium-gray);
}

.menu li a:hover{
	cursor: pointer;
}

.nav-right li{
	display:inline-flex;
	align-items: center;
	color: var(--medium-gray);
	margin-right: 2rem;
}

.nav-right li:hover{
	cursor: pointer;
}

#register{
	border:1.9px solid;
	padding: 5px;
	border-radius: 10px;
}


