<!-- <p>navbar works!</p> -->
        <!-- topmost navbar-div -->
        <div class="navbar">
            <div class="logo">
                <i class='bx bxl-twitter bx-lg' ></i> <h1> Twitter </h1>
            </div>

            <!-- searchbar div -->
            <!-- <div class="search-bar">
                <input type="search" name="search-bar" id="search-bar" placeholder="Search...">
                <button> Search </button>
            </div> -->

            <div class="search-bar">
                <form class="search-form">
                    <span>Pick a User: </span>
                    <select id="dropdown">
                        <!-- <option value=""> Select an option </option>
                        <option value="user 1"> User 1 </option>
                        <option value="user 2"> User 2 </option>
                        <option value="user 3"> User 3 </option>
                        <option value="user 4"> User 4 </option>
                        <option value="user 5"> User 5 </option>
                        <option value="user 6"> User 6 </option> -->
                    </select>
               </form>
            </div>

        </div>
