<!-- <p>navbar works!</p> -->
        <!-- topmost navbar-div -->
        <div class="navbar">
            <div class="logo">
                <i class='bx bxl-twitter bx-lg' ></i> <h1> Twitter </h1>
            </div>

            <div *ngIf="users" class="search-bar">
                <form class="search-form">
                    <span>Pick a User: </span>
                    <select  id="dropdown">
                        <!-- <option [defaultSelected]=""> Select an option </option> -->
                        <option *ngFor="let user of users" value="{{user.id}}"> {{user.name}} </option>
                      
                    </select>
               </form>
            </div>

        </div>
