:root{
	--button-padding: .7rem;
	--white: #fffef8;
	--blue: #00b4d8;
	--black:#000000;
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--very-dark-blackish-blue: hsl(219, 29%, 14%);
	--dark-blue: #006494 ;
	--bright-yellow: #fdc600;
	--gray: #364958;
	--light-gray: #3b6064;
	--dark-gray: #415a77;
	--light-green: #009e46;
	--purple:#e61877;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;}

.container{
	display: flex;
	flex-direction: column;
	padding: 0;
	width: 100vw;
	gap: 0;
}

.main-page{
/*	height: 95%;*/
	padding: 1rem;
	margin-bottom: 2rem;
	background: url('images/hero.png') no-repeat;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-page .nav{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.nav .top-left{
	display: flex;
	gap: 1rem;
	align-items: baseline;
}

.menu-items{
	margin-left: 2rem;
}

.top-left .menu-items li{
	display:inline-flex;
	list-style: none;
	margin-right: 2rem;
}

.top-left h2,a,button{
	color: var(--white);
	font-weight: 00;
}

.top-left h2{
	color: var(--white);
	font-weight: 800;
}
.top-left h2,a,button:hover {
	cursor: pointer;
}

.menu-items a{
	text-decoration: none;
}

.top-right{
	display: flex;
	gap: 2rem;
	align-items: baseline;
}

.top-right a, button,i{
	text-decoration: none;
	font-weight: 600;
}

.top-left a:hover,
.top-right a:hover{
	text-decoration: underline;
	text-underline-offset: 10px;
}

.top-right button{
	border: 1px solid var(--blue);
	border-radius: 10px;
	font-weight: 500;
	padding: .5rem;
	background-color: var(--blue);
}

.top-right a:hover, button:hover{
	color: var(--black);
}
/*CENTER MOST DIV STYLING*/
.content{
	display: flex;
	justify-content: center;
	margin: 5rem auto;
	gap: 1rem;
}

.statement,.title,.text,.button{
/*	border: 1px solid;*/
	margin: 1rem;
	padding: .4rem;
}

.main-page .title h1, .text p{
	color: var(--white);
	overflow: word-break;
	margin: 0px auto;
}

.main-page .title h1{ 
	font-weight:900;
	font-size:70px;
}
.main-page .title p{ 
	font-weight:500;
	font-size:70px;
}

.main-page .content .button{
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.main-page .content .button button{
	background-color: transparent;
	border: 2px solid var(--white);
	border-radius: 21px;
	width: 11rem;
	padding: var(--button-padding);
	color: var(--white);
}

.main-page .content .button button:hover{
	background-color: var(--blue);
	border: 2px solid var(--blue);
	border-radius: 21px;
	width: 11rem;
	color: var(--white);
}

/* STYLE THE THREE HOVERING PLACARDS */
.placard{
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding: 1rem;
	z-index: 1;
/*	background-color: var(--light-gray);*/
	gap: .5rem;
	transform: translateY(-50%);
}

.placard .placard-1,.placard-2,.placard-3 {
	padding: .9rem;
	background-color: var(--white);
	border: 1px solid var(--white);
    border: 2px solid rgba(255,255,255,.2);
    box-shadow: 15px 15px 15px 15px rgba(140,140,140,0.5);
}

.placard .placard-1:hover,.placard-2:hover,.placard-3:hover{
	cursor: pointer;
	background-color: var(--blue);
	border: 1px solid var(--blue);
}

.placard-icon{
	justify-content: flex-start;
}

.placard-title h2{
	color: var(--black);
}

.placard .placard-1:hover .placard-title h2,
.placard-2:hover .placard-title h2,
.placard-3:hover .placard-title h2{
	color: var(--white);
}

/*WHAT KIND OF CHAINING TOGETHER RULES IS THIS?1?!*/
.placard .placard-1:hover .placard-text p,
.placard-2:hover .placard-text p,
.placard-3:hover .placard-text p{
	color: var(--white);
}

.placard-text p{
	justify-content: center;
	color: var(--dark-gray);
}

.placard-text p{
	color: var(--light-gray);
}

/*.placard-1:hover,.placard-2:hover,.placard-3:hover h2 p{
	color: var(--white);
}*/

.placard .ion-icon{
	width: 3rem;
	height: 5rem;
}

.placard-1,.placard-2,.placard-3 .ion-icon{
	color: var(--blue);
}

.placard-1:hover,.placard-2:hover,.placard-3:hover .ion-icon{
	color: var(--white);
}


/*EMPTY TRANSITION DIV*/
.main-page-transition{
	background-color: var(--light-gray);
	height: 5rem;
}

/*INDUSTRY DIV WITH CARDS*/
.industry{
	background-color: var(--white);
	margin: 1rem;
	width: 100%;
	border: 1 px solid;
	display: flex;
	flex-direction: column;
}

.industry-top{
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.industry-placard{
	padding: 1rem;
	width: 13rem;
	height: 13rem;
	display: flex;
	flex-direction: column;
	column-gap: .4rem;
	column-gap: 4rem;
	justify-content: space-around;
}

.industry-placard .ion-icon{
	color: var(--blue);
	width: 3rem;
	height: 5rem;
}

.industry-placard-1,.industry-placard-2,.industry-placard-3{
	background-color: var(--white);
}

.industry-middle{
	border: 1 px solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.industry-middle h1{
	color: var(--black); 
}

.industry-middle p{
	color: var(--light-gray);
}

.industry-bottom{
	border: 1 px solid;
	display: flex;
	justify-content: center;
	column-gap: 3rem;
	justify-content: center;
}

.industry-bottom .rating-placard{
	border: 1px solid var(--light-gray);
	border-radius: 10px;
	padding: .5rem;
	width: 15rem;
}

.industry-bottom .rating-placard img{
	/*	HOW TO I CENTER THIS IMAGE WITHIN THE DIV?!?! */
	border: 1px solid var(--light-gray);
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	justify-content: center;
}

.industry-bottom .rating-placard .text{
	color: var(--light-gray);
}

.industry-bottom .rating-placard .stars{
	width: fit-content;
	margin: 0px auto;
}

.industry-bottom .rating-placard .stars ion-icon{
	color: var(--bright-yellow);
	fill: var(--bright-yellow);
}

.industry-transition{
	background-color: var(--white);
	padding-top: 7rem;
}

.industry-transition .partners{
	height: 7rem;
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}
.partners img{
	width: 95px;
	height: 95px;
	padding: .4rem;
}
.subscription{
	border: 1px solid;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	height: 7rem;
	margin: 1rem auto;
	/* linear gradient in div	*/
	background: linear-gradient(to right, rgb(10,10,44),rgb(252,57,187));
}

.subscription .text-left p{
	color: var(--white);
	font-weight: 800;
	font-size: 30px;
}

.subscription .text-right input,span{
	font-size: 30px;
	margin-right: 0;
	padding: .4rem;
}

.subscription .text-right span{
	font-size: 30px;
/*	margin: 0;*/
	border: 1px solid var(--blue);
	background-color: var(--blue);
	padding: .4rem .4rem;	/* top:bottom - right:left */
	color: var(--white);
}



/*PRICING DIV*/
.pricing{
	background-color: var(--white);
	display: flex;
	flex-direction: column;
/*	border: 1px solid;*/
	align-items: center;
}

.pricing-top .title{
/*	border: 1px solid;*/
	font-size: 30px;
	justify-content: center;
	align-items: center;
	padding: .4rem;
	width: fit-content;
	margin: 0px auto;
}

.pricing-top .text p{
/*	border: 1px solid;*/
	color: var(--light-gray);
	height: 3rem;
	padding: .4rem;
}

.pricing-bottom{
	display: flex;
	gap: 1rem;
}

.brochure{
	border: 1px solid;
	padding: .7rem;
	height: fit-content;
	margin: 2rem 0;
	max-width: 15rem;
	border: 1px solid var(--blue);
	background-color: var(--white);
	border-radius: 10px;
}

.brochure .text h2{ 
	color:var(--black);
	width: fit-content;
	margin: 0px auto; 
}
.brochure .text h3{
	color: var(--gray);
	width: fit-content;
	margin: 0px auto;
}

.brochure .price{
	width: fit-content;
	align-items: center;
	margin: .7rem auto;
	color: var(--blue);
}

.brochure .offer{
	align-items: baseline;
}

.brochure .offer ul li{
	list-style: none;
}

.offer .ion-icon{
	color: var(--light-green);
	width: 1.3rem;
	height: 1.3rem;
}
/******************/
/*HERE IS WHERE YOU WILL STYLE THE DIFFERENT COLURED CHECKMARKS USING THE ID*/
/********************/

.brochure .offer ul li{
	color: var(--light-gray);
	font-weight: 500;
	font-size: 17px;
	line-height: 2rem;
}

.brochure .button button{
	background-color: var(--blue);
	padding: var(--button-padding);
	width: 95%;
	border-radius: 10px;
	border: 1px solid var(--blue);
}
/*on hover styling for pricing*/
.brochure:hover{
	background-color: var(--very-dark-blackish-blue);
    transform: scale(1.1);	/* too enalarge image */
    transition: 450ms;
}

.brochure:hover .title h2{
	color: var(--white);
}

.brochure:hover .text h3{
	color: var(--white);
}

.brochure:hover ul li{
	color: var(--white);
}

/* STYLE THE BRANCHES MAP */
.branch{
	background-color: var(--very-dark-blackish-blue);
	display: flex;
	padding: 2rem;
/*	padding-top: 1rem;*/
	height: 50rem;
}

.branch .title h1{
	color: var(--white);
	font-size: 30px;
	font-weight: 600;
	line-height: 1.5rem;
}
.branch-content .text p{
	line-height: 1.5rem;
}

.branch-map{
}
.branch-map img{
	padding: 1rem;
	height: 13rem;
	width: 30rem;
}

/* STYLE THE BOOKING APPOINTMENTS FORM */
.book-appointment{
	width: 65%;
	height: 40rem;
	margin: 1rem auto;
	background-color: var(--white);
	display: flex;
	justify-content: space-around;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
	transform: translateY(-50%);	/* move div upwards */	
}

.book-appointment .image-left{
	/*	HOW DO YOU MAKE THE IMAGE BE FULL YET REDUCDED*/
	width: fit-content;
	overflow: hidden;
/*	height: 20rem;*/
}

.book-appointment .form-right{
	padding: 1rem;
}


.form-right form{
	display: grid;
	gap: 1rem;
	padding: 1rem;	
}

.form-right label{
	width: 100%;
	margin: .5rem;
	color: var(--black);
}

.form-right input{
	width: 100%;
	margin: .5rem;
	color: var(--black);
}

.form-right label{
	line-height: 1rem;
	font-weight: 500;
}
.form-right input{
	padding: .4rem;
	border: 1px solid;
	height: 2.5rem;
	border-radius: 5px;
	background-color: lightgray;
}
.book-appointment .form-right h2{
	color: var(--black);
}

.form-right form button{
	padding: var(--button-padding);
	background-color: var(--blue);
	justify-content: center;
	width: 100%;
}

/* STYLE THE PAGE FOOTER */
.footer{
	background-color: var(--white);
/*	background-color: red;*/
	display: flex;
	flex-direction: column;
}

.footer .top{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.footer .top-left .title h2{
	color: var(--black);
}

.footer .top .text h3{
	color: var(--light-gray);
/*	font-size: 25px;*/
}

.footer .top .top-right button{
	padding: var(--button-padding);
	background-color: var(--blue);
	font-weight: 500;
}

.footer .middle{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	line-height: 1.9rem;
}

.footer .middle .detail ol{
	color: var(--light-gray);
}

.footer .middle .detail{
	padding: 1rem;
}

.footer .middle .detail-5 .ion-icon{
	width: 1.7rem;
	height: 1.7rem;
	color: var(--blue);
}

.footer .middle .detail-5 ol .ion-icon{
	font-weight: 600;
}


.footer .bottom{
	display: flex;
	height: 3rem;
	justify-content: space-around;
	align-items: center;
}

.footer .bottom p a{
	color: var(--dark-blue);
	text-decoration: none;
}

.footer .bottom .ion-icon{
	width: 1.3rem;
	height: 1.3rem;
}

.footer .bottom .bottom-right{
	border: 1px soliid;
	display: flex;
	justify-content: space-evenly;
	gap: .7rem;
}