<!-- <p>hotels works!</p> -->
         <!-- User hotel div -->
         <div *ngIf="role !== 'admin'" class="choose-hotel">

            <!-- state managaemnet using ngrx -->
             <div class="sample">
                <input type="checkbox" (change)="onChange()" [value]="showParagraph$ | async">
                <p *ngIf="showParagraph$ | async">
                  Show this if true!!
                </p>

             </div>


            <div class="top">
                <h3> choose hotel </h3>
                <h2> recommended hotels  </h2>
                <p> Leading tour and travels booking website. Over 3,000 packages
                    worldwide. Book travel packages and enjoy your holidays with
                    distinctive experience
                </p>
            </div>

            <div *ngIf="hotels" class="bottom hotel-div">


                <!-- begin hotel card 1 -->
                <div *ngFor="let hotel of hotels" class="hotel-card">
                    <div class="img">
                        <img src="{{hotel.h_image_url}}" alt="hotel pic">
                    </div>
                    <div class="content">

                        <p class="title"> {{hotel.h_name}} </p>
                        <p class="desc"> {{hotel.h_description}}</p>
                        <p class="price"> {{hotel.h_price | currency:'Ksh.'}} </p>
                        <!-- using a relative path -->
                        <p routerLink="{{hotel.id}}" class="info"> See full Itenerary <i class='bx bx-right-arrow-alt'></i></p>
                        <!-- binding an absolute path.TOO COMPLEX FOR ME -->
                        <!-- <p [routerLink]="['/hotels',hotel.id]" class="info"> See full Itenerary <i class='bx bx-right-arrow-alt'></i></p> -->
                        <p>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                        </p>
                    </div>
                </div>
                <!-- end hotel card 1 -->


            </div>
            <!-- end bottom cards section -->

        </div>
        <!-- end choosing hotel div -->

<!-- Admin dashboard -->
<div *ngIf="role === 'admin'">
   <h1> Admin dashboard </h1>

      <div class="hotels">

         <!-- add hotesl -->
         <div class="left">
            <div *ngIf="message" class="popup">
               <label> {{message}} </label>
            </div>
            <h2> Add Hotels </h2>

            <form (ngSubmit)="submitHotel()" [formGroup]="hotelForm">
               <fieldset>
                  <div>
                     <label> Name: </label>
                     <input formControlName="h_name" type="text">
                  </div>
         
                  <div>
                     <label> Location: </label>
                     <input formControlName="h_location" type="text">
                  </div>
         
                  <div>
                     <label> Image Url: </label>
                     <input formControlName="h_image_url" type="text">
                  </div>

                  <div>
                     <label> Description: </label>
                     <input formControlName="h_description" type="text">
                  </div>
            
                  <div>
                     <label> Price: </label>
                     <input formControlName="h_price" type="text">
                  </div>
         
                  <div>
                     <label> Star Rating: </label>
                     <input formControlName="h_rating" type="text">
                  </div>
                  <button> Add Tour </button>
               </fieldset>
      
            </form>
         </div>
      
         <!-- view existing hotesl -->
         <div *ngIf="hotels" class="right">
            <h2> Existing hotels</h2>
            <ol >
               <li *ngFor="let hotel of hotels">
                  {{hotel.h_name}}
                  {{hotel.h_location}}
                  {{hotel.h_rating}}
                  {{hotel.h_price}}
               </li>
            </ol>                
         </div>
      
      
      </div>
</div>


