<!-- <p>hotel-details works!</p> -->

<div *ngIf="hotel" class="hotel-div" id="{{hotel.id}}">
    <!-- left div -->
    <div class="left">
        <img src="{{hotel.imageUrl}}" alt="hotel Image">
    </div>

    <!-- right div -->
    <div class="right">
        <p class="title"> {{hotel.name}} </p>
        <label class="location"> <a href="#"> Show on Map </a>{{hotel.location}} </label>
        <p class="desc"> {{hotel.description}} </p>
        <p> {{hotel.starRating}} </p>
        <p class="price"> {{hotel.price | currency:'Ksh.'}} </p>

        <p href="#" class="info"> Make Booking</p>
    </div>
</div>







