<div class="container">
  
  <!-- add the navbar component -->
  <app-navbar></app-navbar>
  
  <!-- where the page will be reloading -->
   <router-outlet></router-outlet>

  <!-- add the main homepage part -->
  <!-- <app-homepage></app-homepage> -->

  <!-- add the tours -->
  <!-- <app-tours></app-tours> -->


  <!-- add the hotels -->
  <!-- <app-hotels></app-hotels> -->

  <!-- add testimonials -->
  <!-- <app-testimonials></app-testimonials> -->

  <!-- add the footer. ADDS IN ALL PAGES -->
  <!-- <app-footer></app-footer> -->

</div>