:root{
    --blue-1: #023e8a;
    --blue-2: #0077b6;
    --blue-3: #0096c7;
    --blue-4: #00b4d8;
    --dark-blue: #12171e;   
    --gray:hsl(219, 12%, 42%);
	--white: #eee;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    /* padding: .5rem; */
    gap: .2rem;
}

.navbar{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    /* height: 15vh; */
    background-color: var(--dark-blue);
}

.navbar .logo{
    /* border: 1px solid; */
    display: inline-flex;
    cursor: pointer;
    padding: .4rem;
    color: var(--white);
} 

.navbar .search-bar{
    /* border: 1px solid; */
    padding: .9rem;
    justify-content: center;
    align-items: center;
}

.navbar .search-form select{
    display: flex;
    padding: .1rem .4rem;
    align-items: center;
    justify-content: baseline;
}

.navbar .search-bar span{
    color: var(--white);

}

.main-content{
    display: flex;
    gap: 0;
    /* width: 90vw; */
    margin: 0px auto;
    /* border: 1px solid; */
    background-color: var(--dark-blue)  ;
}

/* style the sidebar */
.sidebar-panel{
    border: .5px solid;
 	width: 20%;
	padding: .4rem .4rem;/* Order followed is: {Top & bottom} {Left & Right} */
}

.sidebar-panel .top{
    color: var(--white);
}
.sidebar-panel ul li{
    list-style-type: none;
    line-height: 1.5rem;
    height: 50px;
    width: 90%;
    margin: .4rem auto;
}

.sidebar-panel ul li a{
    color: var(--white);
    display:flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar-panel ul li a:hover{
    color: var(--dark-blue);
    background-color: var(--white);

}

.sidebar-panel ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.tweets-panel{
    width: 40%;
    color: var(--white);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 0;
    border: .5px solid black;
}

.tweet-card{
    /* background-color: red; */
    border-bottom: .2px solid black;
    padding: .4rem;
    display: flex;
    flex-direction: column;
}

.tweet-card .top{
    display: inline-flex;
    margin: .1rem .3rem;
    align-items: center;
}
 .tweet-card img{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: white;
 }

.tweet-card .middle{
    display: inline-flex;
    flex-wrap: wrap;
    line-height: 1.3rem;
}

.tweet-card .bottom{
    display: inline-flex;
    justify-content: space-around;
}

.tweet-card .bottom i:hover{
    cursor: pointer;
}

.comments-panel{
    width: 40%;
    color: var(--white);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 0;
    border: .5px solid black;
}


.comment-card{
    /* background-color: red; */
    border-bottom: .2px solid black;
    padding: .4rem;
    display: flex;
    flex-direction: column;
}

.comment-card .top{
    display: inline-flex;
    margin: .1rem .3rem;
    align-items: center;
}
 .comment-card img{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: white;
 }

.comment-card .middle{
    display: inline-flex;
    flex-wrap: wrap;
    line-height: 1.3rem;
}

.comment-card .bottom{
    display: inline-flex;
    justify-content: space-around;
}

.comment-card .bottom i:hover{
    cursor: pointer;
}
