/* ------begin styling the footer------ */
.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--royal-purple);
}

.footer .top{
    display: flex;
    padding: .7rem;
    justify-content: space-around;
    /* border-bottom: 1px solid var(--white); */
}

.footer .top .section{
    /* border: 1px solid; */
    padding: .4rem;
}

.footer .top .section h2{
    color: var(--white);
}

.footer .top .section-1 .logo img{
    width: 60px;
    height: 50px;
}

.footer .top .section-1 .logo label{
    letter-spacing: .1rem;
    text-transform: capitalize;
    font-weight: 500;
    /* border: 1px solid white; */
    flex-wrap: wrap;
    color: var(--white);
    text-decoration: line-through;
}

.footer .section-1{
    width: 40%;
    color: var(--white);
}

.footer .section-1 .desc{
    font-weight: 300;
    letter-spacing: .1rem;
}

.footer .section-1 .socials{
    display: inline-flex;
    /* justify-content: space-around; */
    padding: .3rem;
}

.footer .section-1 .bx{
    /* border: 1px solid; */
    font-size: larger;
    padding: .3rem;
}

.footer .section-2{
    width: 25%;
    padding: .4rem;
}

.footer .section-2 ul li{
    text-decoration: none;
    list-style: none;
    color: var(--white);
}

.footer .section-2 li a{
    color: var(--white);
    text-decoration: none;
}


.footer .section-3{
    width: 25%;
    padding: .4rem;
}

.footer .section-3 ul li{
    text-decoration: none;
    list-style: none;
    color: var(--white);
    /* margin: .3rem 0; */
    line-height: 1.9rem;
}

.footer .section-3 li a{
    color: var(--white);
    text-decoration: none;
}


.footer .bottom{
    /* border: 1px solid; */
    padding: .4rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--royal-purple);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer .bottom .bx{
    padding: .4rem;
    border-radius: 10px;
}
.footer .bottom .bx:hover{
    background-color: var(--white);
    color: var(--royal-purple);
}
.footer .bottom .bx{
    color: var(--white);

}
/* ------end begin styling the footer------ */
