<!-- <p>tours works!</p> -->

        <!-- User tours div -->
        <div *ngIf="role !== 'admin'" class="choose-tour">
            <div class="top">
                <h3> choose tour </h3>
                <h2> popular tours  </h2>
                <p> Leading tour and travels booking website. Over 3,000 packages
                    worldwide. Book travel packages and enjoy your holidays with
                    distinctive experience
                </p>
            </div>

            <div *ngIf="tours" class="bottom tour-div" >

                <!-- begin tour card 1 -->
                <div *ngFor="let tour of tours" class="tour-card">
                    <div class="img">
                        <img src="{{tour.t_image_url}}" alt="tour pic">
                    </div>
                    <div class="content">
                        <p class="title"> {{tour.t_name}} </p>
                        <p class="desc"> {{tour.t_description}} </p>
                        <p class="price"> {{tour.t_price | currency:'Ksh.'}} </p>
                        <!-- use relative path to redirect to specific tour -->
                        <p routerLink="{{tour.id}}" class="info"> book tour <i class='bx bx-right-arrow-alt'></i></p>
                        <!-- use property binding absolute path to redirect to specific tour.TOO COMPLEX FOR ME -->
                        <!-- <p [routerLink]="['/tours',tour.id]" class="info"> book tour <i class='bx bx-right-arrow-alt'></i></p> -->
                    </div>
                </div>
    
                <!-- end tour card 1 -->

            </div>
            <!-- end bottom cards section -->

        </div>
        <!-- end choosing tour div -->


        <!-- Admin dashboard -->
        <div *ngIf="role === 'admin'">
            <h1> Admin dashboard </h1>
            <div class="tours">
               
               <!-- add new tours -->
               <div class="left"> 
                  <div *ngIf="message" class="popup">
                     <label> {{message}} </label>
                  </div>
                  <h2> Add Tours </h2>
                   <form  (ngSubmit)="submitTour()" [formGroup]="tourForm">


                      <fieldset>
                         <div>
                            <label> Name: </label>
                            <input formControlName="t_name" type="text">
                         </div>
             
                         <div>
                            <label> Location: </label>
                            <input formControlName="t_location" type="text">
                         </div>
             
                         <div>
                            <label> Image Url: </label>
                            <input formControlName="t_image_url" type="text">
                         </div>
          
                         <div>
                            <label> rating: </label>
                            <input formControlName="t_rating" type="text">
                         </div>
             
                         <div>
                            <label> Description: </label>
                            <input formControlName="t_description" type="text">
                         </div>
             
                         <div>
                            <label> Price: </label>
                            <input formControlName="t_price" type="text">
                         </div>
          
                         <button> Add Tour </button>
                      </fieldset>
          
                   </form>
                </div>
          
          
                <!-- current Tours -->
                <div *ngIf="tours" class="right">
                   <h2> Existing tours </h2>
                   <ol >
                      <li *ngFor="let tour of tours">
                         {{tour.t_name}}
                         {{tour.t_location}}
                         {{tour.t_rating}}
                         {{tour.t_price}}
                      </li>
                   </ol>
                    
                </div>
          
          
              </div>
        </div>
  

